# Data Cleaning and Transformation for Data Warehouse Model

## Imports

In [5]:
import pandas as pd

## Data 
- Taken from Kaggle -> [Car Sales Report](https://www.kaggle.com/datasets/missionjee/car-sales-report)

In [8]:
car_sales_data = pd.read_csv("Car_Sales_Data.csv")

## Renaming Columns for better readability

In [16]:
car_sales_data.rename(columns={
    "Car_id":"Car_ID",
    "Date":"Sale_Date",
    "Annual Income":"Annual_Income",
    "Company":"Car_Manufacturer",
    "Model":"Car_Model",
    "Engine":"Engine_Type",
    "Color":"Colour",
    "Price ($)":"Sale_Price",
    "Dealer_No":"Dealer_ID",
    "Body Style":"Body_Style",
    "Phone":"Customer_Phone_Number",
    "Customer Name":"Customer_Name"}, inplace=True)

## Data Inspection

In [32]:
car_sales_data.head()

car_sales_data.head()

,Car_ID,Sale_Date,Customer_Name,Gender,Annual_Income,Dealer_Name,Car_Manufacturer,Car_Model,Engine_Type,Transmission,Colour,Sale_Price,Dealer_No,Body_Style,Customer_Phone_Number,Dealer_Region
0,C_CND_000001,2022-01-02,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,2022-01-02,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,2022-01-02,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,2022-01-02,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,2022-01-02,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville

### Car_ID Column 
- Unique Identifier for each car sold

In [ ]:
car_sales_data["Car_ID"].value_counts()
# Each value is unique this column will be used for identifying each car sold may change to just incremntal ID later

car_sales_data["Car_ID"] = car_sales_data["Car_ID"].astype("string")

### Sale_Date Column
- Date the car was sold

In [ ]:
car_sales_data["Sale_Date"].value_counts()

# Dates were formmated as mdy so converted to datetime format stored now as ymd
car_sales_data["Sale_Date"] = pd.to_datetime(car_sales_data["Sale_Date"], format="%m/%d/%Y")

### Customer_Name Column
- Name of the Customer who bought the car

In [42]:
car_sales_data[["Customer_Name","Gender","Annual_Income","Customer_Phone_Number"]].value_counts()

# Since we only have the first name of each customer by cross referencing other columns associated with the customer, 
# we will take an asumption that each customer is unique as seen in the value counts and for arguments sake

car_sales_data["Customer_Name"] = car_sales_data["Customer_Name"].astype("string")

### Gender Column
- Gender of the customer who bought the car

In [43]:
car_sales_data["Gender"].value_counts()

Gender
Male      18798
Female     5108
Name: count, dtype: int64